{
  "presets": [
    ["env", {
      "modules": false,
      "loose": true,
      "targets": {
        "esmodules": true
      },
      "useBuiltIns": "entry"
    }],
    "stage-0",
    "react"
  ]
}
